apiVersion: batch/v1
kind: Job

metadata:
  name: ${JOB_NAME}
  namespace: automation

spec:
  backoffLimit: 0

  template:
    spec:
      restartPolicy: Never

      imagePullSecrets:
        - name: ghcr-secret

      containers:
        - name: automation-tests
          image: ${IMAGE}
          imagePullPolicy: Always

          env:
            - name: ALLURE_RESULTS_DIR
              value: "target/allure-results"

            - name: LOGS_RESULTS_DIR
              value: "target/scenario-logs"

          volumeMounts:
            - name: allure-results
              mountPath: target/allure-results
            - name: scenario-logs
              mountPath: target/scenario-logs

      volumes:
        - name: allure-results
          persistentVolumeClaim:
            claimName: ${PVC_NAME}
        - name: scenario-logs
          persistentVolumeClaim:
            claimName: ${PVC_NAME}