apiVersion: batch/v1
kind: Job
metadata:
  name: ${JOB_NAME}
  namespace: automation
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never

      imagePullSecrets:
        - name: ghcr-secret

      containers:
        - name: automation-tests
          image: ${IMAGE}
          imagePullPolicy: Always

          env:
            - name: ALLURE_RESULTS_DIR
              value: "/results/allure"

            - name: LOGS_RESULTS_DIR
              value: "/results/logs"

          volumeMounts:
            - name: test-results
              mountPath: /results

      volumes:
        - name: test-results
          persistentVolumeClaim:
            claimName: ${PVC_NAME}